.password-strength-meter {
  height: 200px;
  width: 200px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.password-strength-meter input{
    width: 100px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #edacf3;
    border-radius: 5px;
    font-size: 16px;
}
.password-strength-meter .debil{
    margin-top: 10px;
    font-size: 14px;
    color:  #DC143C; 
}

.password-strength-meter .media{
    margin-top: 10px;
    font-size: 14px;
    color:  #FFA500; 
}

.password-strength-meter .fuerte{
    margin-top: 10px;
    font-size: 14px;
    color:  #9ACD32; 
}
.password-strength-meter .muy-fuerte{
    margin-top: 10px;
    font-size: 14px;
    color:  #00FF00; 
}
.password-strength-meter .vacia{
    margin-top: 10px;
    font-size: 14px;
    color:  #000; 
}